.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main-note-background-color);
}

.modal__content textarea {
  width: 100%;
  padding: 10px;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  border: 1px solid var(--main-noteCard-border-color);
  border-radius: 10px;
  outline: none;
}

.button__container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal__button {
  background-color: var(--main-button-color);
  border: 1px solid var(--main-button-border-color);
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: var(--main-activ-button-color);
}
